
@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Merhaba Değerli sayfa Takipçilerim</h2>
<p>İlknur AKKUŞ, Kimdir?
Kişisel Bloguma hoş geldiniz arkadaşlar:)

Hemen kısaca kendimden bahsedeyim. 
Haziran 1994 de Nevşehir'de dünyaya geldim.
Sonra İstanbul'a taşınma maceramız oldu ailecek Üniversiteyi bitirdim.
Endüstri Mühendisliği mesleğimi severek yapacağıma inanıyorum. </p>
<hr />
<hr />
<p>Kişisel Blog Yazarlığı Maceram</p>
<p>Blog açma konusunda acemi olduğum için ilk yılım Blog Nedir? 
Ne işe yarar gibi araştırmalar ile geçti. 
Sonra biraz biraz bir şeyler öğrenince yazmaktan daha da zevk aldım. 
Başarılı bir blog yazarı olabilmek için hayli bir yol kat etmek gerekiyor. 
Başarılı blogları gördükçe blog hakkında araştırmalara hızla devam ediyorum. 
Tam anlamıyla istediğim blogu oluşturana kadar devam edeceğim. </p>

